/* style.css */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

body {
	display: flex;
	justify-content: space-between;
	background: #485563;
	background: -webkit-linear-gradient(to left, #485563 , #29323c);
	background: linear-gradient(to left, #485563 , #29323c);
	font-family: "Roboto", sans-serif;
	font-size: 12pt;
	color: #fff;
}

nav,
aside {
	display: block;
	width: 20vw;
	max-width: 280px;
	height: 100vh;
	background: rgba(255, 255, 255, 0.1);
}

nav ul,
aside ul {
	margin: 1em;
	padding: 0;
	list-style: none;
}

.nav-button {
	padding: 20px 0;
	background: #4fc1e9;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.nav-button:hover {
	background: #A0D468;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 800px;
}

.card-container {}

#flashcard {
	visibility: hidden;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
	border: 3px solid #fff;
	border-radius: 8px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5), inset 0 0 16px rgba(0, 0, 0, 0.5);
	width: 500px;
	height: 300px;
	background: hidden;
	text-align: center;
}

.response-container {
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
	width: 800px;
	height: 100px;
}

.prompt {
	padding: 0 2em 0.6em;
	font-size: 2em;
	font-weight: 300;
}

#responseField {
	padding: 10px 10px 10px 5px;
	border: none;
	border-radius: 8px;
	width: 480px;
	background: rgba(255, 255, 255, 0.1);
	font-size: 3em;
	color: #fff;
	text-align: center;
}

span:focus {
	outline: none;
}

#responseButton {
	display: block;
}

#scoreboard {
	margin: 1em;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 0.6em 0;
	list-style: none;

}

#scoreboard li {
	margin: 0.2em 0;
	font-size: 0.9em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#scoreboard span {
	margin-right: 0.4em;
}

#scoreboardCorrect {
	color: #a0d468;
}

#scoreboardIncorrect {
	color: #ed5565;
}

#scoreboardList li {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 0.4em;
	font-size: 0.9em;
	font-weight: 300;
	font-style: italic;
	color: #bec1c4;
}

.preview-status {

	width: 24px;
}

.preview-value {
	max-width: 224px;
}

/*
// Tablets
@media screen and (max-width: 768px) {

}

// Smartphones
@media screen and (max-width: 320px) {

	body {
		font-size: 11pt;
	}

	.card {
		width: 300;
		height: 180px;
	}

}
*/
