/* style.css */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

body {
	display: flex;
	justify-content: space-between;
	background: #485563;
	/*background: -webkit-linear-gradient(to left, #485563 , #29323c);
	background: linear-gradient(to left, #485563 , #29323c); */
	font-family: "Roboto", sans-serif;
	font-size: 12pt;
}

nav {
	display: block;
	width: 20vw;
	max-width: 280px;
	height: 100vh;
	background: #eee;
}

nav ul,
aside ul {
	margin: 1em;
	padding: 0;
	list-style: none;
}

nav li,
aside li {
	padding: 20px 0;
	background: #8cc152;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

nav li:hover,
aside li:hover {
	background: #A0D468;
}

aside {
	display: block;
	width: 20vw;
	max-width: 280px;
	height: 100vh;
	background: #eee;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 800px;
}

.card-container {}

#flashcard {
	visibility: hidden;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
	border-radius: 8px;
	width: 500px;
	height: 300px;
	background: #fff;
	text-align: center;
}

.response-container {
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
	width: 800px;
	height: 100px;
}

.prompt {
	padding: 0 2em 0.6em;
	font-size: 2em;
	font-weight: 300;
}

span {
	padding: 10px 10px 10px 5px;
	border: none;
	border-radius: 8px;
	width: 500px;
	background: rgba(256, 256, 256, 0.5);
	font-size: 3em;
	color: #fff;
	text-align: center;
}

span:focus {
	outline: none;
}

#responseButton {
	display: block;
}

/*
// Tablets
@media screen and (max-width: 768px) {

}

// Smartphones
@media screen and (max-width: 320px) {

	body {
		font-size: 11pt;
	}

	.card {
		width: 300;
		height: 180px;
	}

}
*/
