/* style.css */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';



/* == GLOBAL SETTINGS == */

body {
	display: flex;
	justify-content: space-between;
	background: #485563;
	background: -webkit-linear-gradient(to left, #485563 , #29323c);
	background: linear-gradient(to left, #485563 , #29323c);
	font-family: "Roboto", sans-serif;
	font-size: 12pt;
	color: #fff;
}

nav,
aside {
	display: block;
	width: 20vw;
	max-width: 280px;
	height: 100vh;
	/*background: rgba(255, 255, 255, 0.1);*/
}

nav ul,
aside ul {
	margin: 1em;
	padding: 0;
	list-style: none;
}

.nav-button {
	padding: 1.2em 0;
	background: #4fc1e9;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

ul .nav-button:first-of-type {
	margin-bottom: 1em;
}

.nav-button:hover {
	background: #3bafda;
	cursor: pointer;
}

.disabled {
	pointer-events: none;
	background: #aab2bd;
}



/* == DECKLIST == */
#deckList {
	margin: 1em;
	border-top: 1px solid #fff;
	padding: 0.6em 0;
}

.deck.active {
	background: #3e464f;
}

.deck:hover {
	background: #94989d;
}



/* == FLASH CARD GAME == */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#previous,
#next {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5em;
	border-radius: 30px;
	width: 60px;
	height: 300px;
	font-size: 2em;
}

#previous:hover,
#next:hover {
	cursor: pointer;
}

#flashcard {

}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
	border: 3px solid #fff;
	border-radius: 8px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5), inset 0 0 16px rgba(0, 0, 0, 0.5);
	width: 500px;
	height: 300px;
	background: hidden;
	text-align: center;
}

.prompt {
	padding: 0 2em;
	font-size: 2em;
	font-weight: 300;
}

.response-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em;
	width: 800px;
	height: 180px;
}

#responseField {
	padding: 10px 10px 10px 5px;
	border: none;
	border-radius: 8px;
	width: 480px;
	background: rgba(255, 255, 255, 0.1);
	font-size: 3em;
	color: #fff;
	text-align: center;
}

#responseField:focus {
	outline: none;
}

#responseButton {
	display: block;
	margin-top: 2em;
	border-radius: 8px;
	width: 123px;
}

/* == SCOREBOARD ASIDE == */

#scoreboard {
	margin: 1em;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 0.6em 0;
	list-style: none;
}

#scoreboard li {
	margin: 0.2em 0;
	font-size: 0.9em;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#scoreboard span {
	margin-right: 0.4em;
	font-weight: 400;
}

#scoreboardCorrect {
	color: #a0d468;
}

#scoreboardIncorrect {
	color: #ed5565;
}

#overview li,
#deckList li {
	display: flex;
	justify-content: flex-start;
	margin: 0.2em 0;
	padding: 0.2em;
	font-size: 0.9em;
	font-weight: 300;
	font-style: italic;
	color: #bec1c4;
}

#overview li.active {
	background: #3e464f;
}

#overview li:hover,
#deckList li:hover {
	background: #94989d;
	cursor: pointer;
}

.overview-status {
	display: inline-block;
	width: 24px;
}

.overview-value {
	max-width: 224px;
}



/* == EDIT DECKS == */
.edit-container {
	border-radius: 15px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width: 80%;
}

.edit-table {
	border-collapse: collapse;
	width: 100%;
}

.edit-table th {
	font-weight: bold;
}

.edit-table th,
.edit-table td {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: left;
}



/* == HELPERS == */
.hidden {
	display: none !important;
}

/*
// Tablets
@media screen and (max-width: 768px) {

}

// Smartphones
@media screen and (max-width: 320px) {

	body {
		font-size: 11pt;
	}

	.card {
		width: 300;
		height: 180px;
	}

}
*/
